<!DOCTYPE html>
<html lang="en" style="overflow: hidden auto; height: auto;">

<head>
    <title>HealthReel App - A health & fitness app powered by NASA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link rel="icon"
        href="https://lh3.googleusercontent.com/twUNDpJyjRQYktctbNjb_FwSCJ8PpAugm6nTN3dLwbxZl2keYjM5rdlW2RUq0D4Bww"
        type="image/png" sizes="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <center>
            <div style="margin: 25px auto; ">
                <img src="./images/giphy.gif">
                <h1 style="font-family: Sofia;">Thanks for your verification ..!!</h1>
                <br><br>
                <center>
                    <button type="button" class="btn btn-success"><a href="http://healthreel.com" style="color:white">Go
                            to website</a></button>
                </center>

            </div>
        </center>

    </div>

</body>

</html>